@import "/app/globals.scss";
.outlineBtn {
  @apply uppercase py-5 px-[30px] gap-2.5 flex items-center border border-platinum-10 rounded-[50px] text__medium-14  active:border-gold active:bg-gold active:text-dark transition-colors duration-300;
}
