@import "/app/globals.scss";
.questions {
  @apply py-[60px] xl:py-20;

  &__title {
    @apply text__medium-20 w-[211px] mb-[60px];

    &--accent {
      @apply text-gold underline;
    }
  }

  &__container {
    @apply md:w-1/2 md:ml-auto;
  }
}
