.section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.section .scroll {
  width: 100%;
  display: flex;
}

.section .scroll div {
  color: #000;
  font-size: 4em;
  background: #fff;
  white-space: nowrap;
  font-weight: 900;
  text-transform: uppercase;

  animation-delay: -30s;
}

@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.section .scroll div:nth-child(2) {
  animation-delay: -15s;
}

@keyframes animate2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.section .scroll div span {
  -webkit-text-stroke: 2px #000;
  color: transparent;
}
