@import "/app/globals.scss";
.cta {
  @apply py-[60px] xl:py-20;

  &__link {
    @apply text__medium-30 flex items-end gap-6;
  }

  &__container {
    @apply sm:w-1/2 sm:ml-auto mb-[60px] xl:mb-20 max-w-[632px];
  }

  &__icon {
    @apply flex-shrink-0 max-sm:order-1  h-10 w-10 rotate-[135deg] text-gold;
  }

  &__text {
    @apply max-w-[510px] max-md:max-w-[286px];
    &:nth-of-type(1) {
      font-size: 36px;
      gap: 8px;
      line-height: 1.3;
      span {
        margin-right: 3px;
      }
      .mask {
        position: relative;
        overflow: hidden;
        display: inline-flex;
      }
    }
    &:nth-of-type(2) {
      font-size: 18px;
      width: 80%;
      font-weight: 300;
    }
  }
}
