.landing {
  position: relative;
  display: flex;
  height: 200px;
  overflow: hidden;

  img {
    object-fit: cover;
  }

  .sliderContainer {
    position: absolute;
    top: 0;
    // top: calc(100vh - 350px);
  }

  .slider {
    position: relative;
    white-space: nowrap;
  }

  .slider p {
    position: relative;
    margin: 0px;
    color: white;

    padding-right: 50px;
  }

  .slider p:nth-of-type(2) {
    position: absolute;
    left: 100%;
    top: 0;
  }

  .description {
    position: absolute;
    top: 35%;
    left: 65%;
    color: white;
  }
}
